<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654368565443-747lt5vjkr2skqktmqunrha5n9ue65ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654368565443-747lt5vjkr2skqktmqunrha5n9ue65ie</string>
	<key>API_KEY</key>
	<string>AIzaSyCKEtxof0793Vr16gxe8Un-2v69mm2Qhnw</string>
	<key>GCM_SENDER_ID</key>
	<string>654368565443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adityasingh.ToDoer</string>
	<key>PROJECT_ID</key>
	<string>todoer-a4bac</string>
	<key>STORAGE_BUCKET</key>
	<string>todoer-a4bac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654368565443:ios:b9bde493a72ce976841a76</string>
</dict>
</plist>